:root {
  --white: #ffffff;
  --gray-10: #F3F3F3;
  --gray-15: #E8E8E8;
  --gray-40: #BBBBBB;
  --gray-80: #868686;
  --gray-100: #5E5E5E;
  --black-100: #1B1B1B;
  --coral-100: #E45A5A;
  --red-20: #ffcedc;
  --red-100: #dc325f;
  --red-110: #B71E49;
  --purple-100: #8a3264;
  --teal-20: #daf4f4;
  --teal-100: #46c6c6;
  --blue-20: #c4dade;
  --blue-100: #007e91;
  --green-10: #d6ffc2;
  --green-100: #52B800;
  --green-110: #3ca000;
  --green-120: #266600;
  --green-130: #2A4640;
  --green-140: #12312A;
  --yellow-10: #F8F1E9;
  --yellow-20: #fff6dc;
  --yellow-100: #ffd050;
  --orange-100: #FF6200;
  --navy-100: #1a73e8;
  --navy-110: #0D4A9A;
};

@each $uiColor, $i in $uiColors {
  .eds-bg-#{$uiColor} {
    background-color: $i !important;
  }
};

@each $uiColor, $i in $uiColors {
  .eds-c-#{$uiColor} {
    color: $i !important;
  }
};
