/* GLOBAL TOKENS */

// radius
$radius-medium: 8px;

// text color
$text-color-secondary: $c-gray-100;
$text-color-negative: $c-white;


/* BUTTON COMPONENT */

// global button settings
$button-radius: $radius-medium;
$button-padding: 0 16px;

// buttons sizes
$button-size-small: 36px;
$button-size-medium: 44px;
$button-size-large: 48px;

// buttons text sizes
@mixin button-text-small { @include t-body-small-semibold };
@mixin button-text-medium { @include t-body-semibold };
@mixin button-text-large { @include t-subtitle-semibold };

// variant primary
$button-primary-background-default: $c-green-100;
$button-primary-text: $text-color-negative;
$button-primary-background-hover: $c-green-110;

// variant secondary
$button-secondary-background-default: transparent;
$button-secondary-text: $c-green-100;
$button-secondary-border: $c-green-100;
$button-secondary-background-hover: $c-green-10;

// variant ghost
$button-ghost-background-default: transparent;
$button-ghost-text: $c-green-100;
$button-ghost-background-hover: $c-gray-10;

// disabled
$button-primary-background-disabled: $c-gray-15;
$button-primary-text-disabled: $text-color-secondary;
