// PALETTE
$c-white: #ffffff;
$c-gray-10: #f8f7f8;
$c-gray-15: #EBE7EB;
$c-gray-40: #e3dfe3;
$c-gray-80: #9e8f9e;
$c-gray-100: #756075;
$c-black-100: #302030;
$c-red-20: #ffcedc;
$c-red-100: #dc325f;
$c-red-110: #B71E49;
$c-purple-100: #8a3264;
$c-teal-20: #daf4f4;
$c-teal-100: #46c6c6;
$c-blue-20: #c4dade;
$c-blue-100: #007e91;
$c-green-10: #d6ffc2;
$c-green-100: #64c828;
$c-green-110: #3ca000;
$c-yellow-10: #fff6dc;
$c-yellow-20: #fff6dc;
$c-yellow-100: #ffd050;
$c-orange-100: #FF6200;
$c-navy-100: #1a73e8;
$c-navy-110: #0D4A9A;
$c-facebook: #2374E1;
$c-blik: #E5005D; 
$c-violet-100: #8a3264;
$c-violet-10: #ffcedc;

$uiColors: (
  "green-110": $c-green-110,
  "green-100": $c-green-100,
  "green-10": $c-green-10,
  "blue-20": $c-blue-20,
  "black-100": $c-black-100,
  "gray-100": $c-gray-100,
  "navy-100": $c-navy-100,
  "navy-110": $c-navy-110,
  "gray-80": $c-gray-80,
  "gray-40": $c-gray-40,
  "gray-15": $c-gray-15,
  "gray-10": $c-gray-10,
  "white": $c-white,
  "blue-100": $c-blue-100,
  "purple-100": $c-purple-100,
  "red-100": $c-red-100,
  "red-110": $c-red-110,
  "yellow-100": $c-yellow-100,
  "orange-100": $c-orange-100,
  "red-20": $c-red-20,
  "teal-20": $c-teal-20,
  "teal-100": $c-teal-100,
  "yellow-10": $c-yellow-20,
  "yellow-20": $c-yellow-20,
  "facebook": $c-facebook,
  "violet-100": $c-violet-100,
  "violet-10": $c-violet-10,
);
