@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap&subset=latin-ext');

@font-face {
  font-family: 'Isidora';
  font-weight: 600;
  src: url('../../static/fonts/isidora/isidora-soft-semibold.eot'); /* IE9 Compat Modes */
  src: url('../../static/fonts/isidora/isidora-soft-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/isidora/isidora-soft-semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../static/fonts/isidora/isidora-soft-semibold.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Isidora';
  font-weight: 700;
  src: url('../../static/fonts/isidora/isidora-soft-bold.eot'); /* IE9 Compat Modes */
  src: url('../../static/fonts/isidora/isidora-soft-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/isidora/isidora-soft-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../static/fonts/isidora/isidora-soft-bold.woff') format('woff') /* Pretty Modern Browsers */
}

$f-family-primary: 'Fira Sans', sans-serif;
$f-family-brand: 'Isidora';
$f-weight-regular: 400;
$f-weight-semi: 600;
$f-weight-bold: 700;

@mixin t-title-1 {
  font-family: $f-family-brand;
  font-size: 48px;
  font-weight: $f-weight-bold;
  line-height: 68px
}

@mixin t-title-2 {
  font-family: $f-family-brand;
  font-size: 37px;
  font-weight: $f-weight-bold;
  line-height: 52px;
}

@mixin t-title-2-semibold {
  @include t-title-2();
  font-family: $f-family-primary;
  font-size: 36px;
}

@mixin t-title-3 {
  font-family: $f-family-brand;
  font-size: 29px;
  font-weight: $f-weight-bold;
  line-height: 40px;
}

@mixin t-title-3-semibold {
  @include t-title-3();
  font-family: $f-family-primary;
  font-size: 28px;
}

@mixin t-title-4 {
  font-family: $f-family-brand;
  font-size: 23px;
  font-weight: $f-weight-bold;
  line-height: 32px;
}

@mixin t-title-4-semibold {
  @include t-title-4();
  font-family: $f-family-primary;
  font-size: 22px;
}

@mixin t-title-4-regular {
  @include t-title-4();
  font-family: $f-family-primary;
  font-size: 22px;
}

@mixin t-subtitle {
  font-family: $f-family-primary;
  font-size: 18px;
  font-weight: $f-weight-semi;
  line-height: 28px;
}

@mixin t-body {
  font-family: $f-family-primary;
  font-size: 16px;
  font-weight: $f-weight-semi;
  line-height: 24px;
}

@mixin t-body-small {
  font-family: $f-family-primary;
  font-size: 14px;
  font-weight: $f-weight-semi;
  line-height: 22px;
}

@mixin t-caption {
  font-family: $f-family-primary;
  font-size: 12px;
  font-weight: $f-weight-semi;
  line-height: 18px;
}

$typography: (
  'title-1': (
    'font-family': $f-family-brand,
    'font-size': 48px,
    'font-weight': $f-weight-bold,
    'line-height': 68px
  ),
  'title-2': (
    'font-family': $f-family-brand,
    'font-size': 37px,
    'font-weight': $f-weight-bold,
    'line-height': 52px
  ),
  'title-3': (
    'font-family': $f-family-brand,
    'font-size': 29px,
    'font-weight': $f-weight-bold,
    'line-height': 40px
  ),
  'title-4': (
    'font-family': $f-family-brand,
    'font-size': 23px,
    'font-weight': $f-weight-bold,
    'line-height': 32px
  ),
  'subtitle': (
    'font-family': $f-family-primary,
    'font-size': 18px,
    'font-weight': $f-weight-semi,
    'line-height': 28px,
  ),
  'body': (
    'font-family': $f-family-primary,
    'font-size': 16px,
    'font-weight': $f-weight-semi,
    'line-height': 24px,
  ),
  'body-small': (
    'font-family': $f-family-primary,
    'font-size': 14px,
    'font-weight': $f-weight-semi,
    'line-height': 22px,
  ),
  'caption': (
    'font-family': $f-family-primary,
    'font-size': 12px,
    'font-weight': $f-weight-semi,
    'line-height': 18px,
  ),
  'brand': (
    'font-family': $f-family-brand,
  ),
  'regular': (
    'font-weight': $f-weight-regular,
  ),
  'semibold': (
    'font-weight': $f-weight-semi,
  ),
  'bold': (
    'font-weight': $f-weight-bold,
  ),
);
