@font-face {
  font-family: 'Isidora';
  font-weight: 600;
  src: url('../../static/fonts/isidora/isidora-soft-semibold.eot'); /* IE9 Compat Modes */
  src: url('../../static/fonts/isidora/isidora-soft-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/isidora/isidora-soft-semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../static/fonts/isidora/isidora-soft-semibold.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Isidora';
  font-weight: 700;
  src: url('../../static/fonts/isidora/isidora-soft-bold.eot'); /* IE9 Compat Modes */
  src: url('../../static/fonts/isidora/isidora-soft-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/isidora/isidora-soft-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../static/fonts/isidora/isidora-soft-bold.woff') format('woff') /* Pretty Modern Browsers */
}
